.body--container {
  position: relative;
  background: #f5f6fa;
  font-size: 16px;
}

/* NAV */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: rgba(39, 60, 117, 0.9);
  color: #fff;
}
nav ul {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
}
nav ul li {
  width: 25%;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
nav ul li:hover {
  color: #7f8fa6;
}
@keyframes click {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2px);
  }
  to {
    transform: translateY(0);
  }
}
nav ul li:active {
  color: #fff;
  animation: click 0.2s;
}
.toggle {
  display: none;
}
.toggle.on {
}

/* HOME */
.home {
  width: 100%;
}
.home .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1024px;
  margin: 0 auto;
  padding: 3.5rem 0 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.home .inner img {
  display: block;
  width: 300px;
  margin-right: 3rem;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.home .inner .description {
  font-size: 1.25rem;
}
.home .inner .description h2 {
  margin-bottom: 1.25rem;
  color: #273c75;
  font-size: 2.5rem;
  font-weight: 700;
}
.home .inner .description p {
  margin-bottom: 2rem;
}
.home .inner .description h3 {
  margin-bottom: 1rem;
  color: #273c75;
  font-size: 1.75rem;
  font-weight: 700;
}
.home .inner .description ul li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.home .inner .description ul li i {
  margin-right: 0.75rem;
  color: #273c75;
  font-size: 1.5rem;
}
.home .inner .description ul li a {
  display: block;
  padding-top: 3px;
  color: #000;
  font-size: 1rem;
  text-decoration: none;
}

/* INTRODUCE */
.about {
  width: 100%;
}
.about .inner {
  display: flex;
  justify-content: space-evenly;
  max-width: 1024px;
  margin: 0 auto;
}
.about h2 {
  margin: 1rem;
  color: #273c75;
  font-size: 1.75rem;
  font-weight: 700;
}
.about .edu {
  margin: 2.5rem;
  margin-right: 1rem;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.about .edu h2 {
}
.about .edu ul li {
  margin-bottom: 1rem;
  padding-left: 100px;
  position: relative;
}
.about .edu ul li h4 {
  position: absolute;
  left: 10px;
  color: #7f8fa6;
  font-size: 1.25rem;
}
.about .edu ul li .campus {
  margin-bottom: 5px;
  font-size: 1.25rem;
}
.about .edu ul li .major {
  width: 260px;
  margin-bottom: 5px;
}
.about .edu ul li .period {
  margin-bottom: 5px;
  color: #718093;
}
.about .intro {
  margin: 2rem;
  margin-left: 1rem;
  border-radius: 15px;
}
.about .intro {
}
.about .intro p {
  margin: 1rem;
  font-size: 1.125rem;
  line-height: 1.3;
}

/* SKILLS */
.skills {
  width: 100%;
  background: #273c75;
  transform: skewY(-3deg);
  color: #fff;
}
.skills .inner {
  max-width: 1024px;
  margin: 0 auto;
  padding: 3rem 0;
  transform: skewY(3deg);
}
.skills h2 {
  margin-bottom: 1rem;
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
}
.skills .group {
  margin: 0 10px 10px;
}
.skills .group h4 {
  color: #7f8fa6;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
}
.skills .group ul {
  display: flex;
  flex-wrap: wrap;
}
.skills .group ul li {
  position: relative;
  display: flex;
  align-items: center;
  width: 30%;
  height: 1.75rem;
  margin: 0.5rem;
  padding: 5px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid;
  color: #273c75;
}
.skills .group ul li i {
  display: block;
  width: 2rem;
  margin-right: 10px;
  font-size: 1.75rem;
  text-align: center;
}
.skills .group ul li span {
  margin-right: 5px;
  display: block;
  padding-top: 3px;
}
.skills .group ul li div {
  position: absolute;
  right: 1rem;
  padding-top: 3px;
}

/* PROJECT */
.projects {
  width: 100%;
}
.projects h2 {
  padding: 3rem 0 0;
  color: #273c75;
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
}
.projects .inner {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}
.projects ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 200px);
  grid-auto-rows: 200px;
  grid-auto-flow: row dense;
  gap: 0.5rem;
  margin-bottom: 3rem;
}
.projects ul li {
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
}
.projects ul li h4 {
  margin: 60px 0 20px;
  font-size: 1.5rem;
  text-align: center;
}
.projects ul li div {
  color: #273c75;
}

/* FOOTER */
footer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100px;
  padding: 1rem;
  background: #273c75;
  color: rgba(255, 255, 255, 0.5);
  text-indent: 200px;
  box-sizing: border-box;
}
