.body--container {
  position: relative;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
}
nav ul {
  display: flex;
  width: 100%;
}
nav ul li {
  width: 150px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}
nav ul li:active {
}
.toggle {
  display: none;
}
.toggle.on {
}

.home {
  display: block;
  width: 100%;
  height: 500px;
  background: peachpuff;
}

.introduce {
  display: block;
  width: 100%;
  height: 500px;
  background: peru;
}

.skill {
  display: block;
  width: 100%;
  height: 500px;
  background: palevioletred;
}

.project {
  display: block;
  width: 100%;
  height: 500px;
  background: palegreen;
}
