/* HEADER */
header {
  width: auto;
}
#toggle-btn {
  display: block;
}
header .toggle {
  display: none;
}
header .toggle.on {
  display: block;
}
header nav {
  width: 100vw;
  background-color: rgba(215, 215, 215, 0.7);
  border-radius: 0;
}
header nav ul {
  display: block;
  padding: 20px;
}
header nav ul li {
  padding: 10px;
  width: 100%;
  font-size: 18px;
  border-bottom: 1px dashed var(--light-bg-color);
}
header .profile {
  display: block;
  padding: 30px 0;
  text-align: center;
}
header .profile .pic {
  margin: 0 auto;
}

/* ABOUT */
.about {
  padding: 30px 0;
}
.about .description {
  display: block;
}
.about .description--title {
  margin: 0 auto 15px;
}

/* SKILLS */
.skills {
  margin: 30px auto;
}
.skills .wrapper h3 {
  padding-left: 0;
  text-align: center;
}
.skills .wrapper ul {
  justify-content: center;
}

/* PROJECTS */
.projects {
  padding: 30px 0;
}
.projects .project-box {
  margin: 24px auto;
}
.projects .project-box .thumbnail {
  flex: 0.8;
  width: auto;
}

/* CONTACT */
.contact {
  padding: 30px 0;
}
